snippet lda
	LDA ${1}

snippet ldai
	LDA #\$${1}

snippet lday
	LDA (\$${1}), Y

snippet ldax
	LDA (\$${1}, X)

snippet ldx
	LDX ${1}

snippet ldy
	LDY ${1}

snippet sta
	STA ${1}

snippet stay
	STA (\$${1}), Y

snippet stax
	STA (\$${1}, X)

snippet jmp
	JMP

snippet clc
	CLC

snippet sec
	SEC

snippet inc
	INC ${1}

snippet inx
	INX

snippet iny
	INY

snippet dec
	DEC ${1}

snippet dex
	DEX

snippet dey
	DEY

snippet adc
	ADC ${1}

snippet adci
	ADC #\$${1}

snippet adcx
	ADC (\$${1}, X)

snippet adcy
	ADC (\$${1}), Y

snippet sbc
	SBC ${1}

snippet sbci
	SBC #\$${1}

snippet sbcx
	SBC (\$${1}, X)

snippet sbcy
	SBC (\$${1}), Y

snippet jmp
	JMP ${1}

snippet cmp
	CMP ${1}

snippet cpx
	CPX ${1}

snippet cpy
	CPY ${1}

snippet beq
	BEQ ${1}

snippet bne
	BNE ${1}

snippet bcs
	BCS ${1}

snippet bcc
	BCC ${1}

snippet bmi
	BMI ${1}

snippet bpl
	BPL ${1}

snippet bvs
	BVS ${1}

snippet bvc
	BVC ${1}

